<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="favicon.icon" type="image/x-icon"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvinido a <%= title %></h1>
    <p> En este portal podras diceñar tus juegos</p>
  </body>
</html>
