<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h4>Autor de la pagina <%= name %></h4>
    <img src="/images/autor.png" alt="Foto de usuario" title="Foto de autor" id="img" />
    <video src="/images/video.mp4" controls id="video">Su navegador no soporta esta acción</video>
  </body>
</html>
